<main class="about-us-section">
  <section class="about-intro">
    <h1>Who Are We?</h1>
  </section>
  <section class="about-values">
    <div class="about-values-wrapper">
      <h3>Helping You Stay Fit</h3>
      <p>Since 1989</p>
    </div>
  </section>
  <section class="about-steps">
    <div class="about-steps-wrapper">
      <article class="step">
        <span class="step-number">01</span>
        <h4>Research</h4>
        <p>
          Our dedicated research allows us to stay at the forefront, continuously discovering innovative ways to improve our products.
        </p>
      </article>
      <article class="step">
        <span class="step-number">02</span>
        <h4>Concept & Strategy</h4>
        <p>
          By transforming ideas into action plans, we turn initial concepts into practical solutions.
        </p>
      </article>
      <article class="step">
        <span class="step-number">03</span>
        <h4>Production</h4>
        <p>
          Precision and attention to detail guide our design and production process, resulting in superior quality products.
        </p>
      </article>
      <article class="step">
        <span class="step-number">04</span>
        <h4>Service & Support</h4>
        <p>
          We pride ourselves on offering exceptional customer service, ensuring that you get the most out of our offerings.
        </p>
      </article>
    </div>
  </section>
  <section class="about-history-wrapper">
    <div class="about-history">
      <h4>Our Journey</h4>
      <p>
        Over the years, we have witnessed many changes in the industry, and while many have followed trends, we have remained focused on authentic quality. Whether you are using an old or new product, rest assured it has been meticulously designed and free from any unpleasant surprises.
      </p>
      <button class="btn-know-more">Discover More</button>
    </div>
  </section>
  <section class="promo-section">
    <div class="promo-image-wrapper">
      <div class="promo-image">
        <h4>PERFORMANCE</h4>
        <img src="assets/images/about1.jpg" alt="Performance Image">
      </div>
      <div class="promo-image">
        <h4>COMFORT</h4>
        <img src="assets/images/about2.jpg" alt="Comfort Image">
      </div>
      <div class="promo-image">
        <h4>DURABILITY</h4>
        <img src="assets/images/about3.jpg" alt="Durability Image">
      </div>
    </div>
    <!-- <div class="promo-product">
      <h2>Limited Quantities Available!</h2>
      <h3>AirPro X3 Unleash the Power.</h3>
      <p>
        Designed for optimal performance, the AirPro X3 pushes the boundaries of possibility, offering unparalleled comfort and durability. <br> Precisely designed to fit your active lifestyle.
      </p>
      <button class="btn-shop-now">Shop Now</button>
    </div> -->
  </section>
</main>
